@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* Reset & Base Styles */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #053d6b; */
    font-family: "Merriweather", serif !important;
    font-style: italic !important;
    letter-spacing: 1px;

}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Merriweather", serif !important;
    font-style: italic !important;
}

/* in your global CSS */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}